/* meet the doggos */
.Chester-left-picture {
    background: url(../images/IMG_2545\ \(1\).jpg) no-repeat center center;
    height: 250px;
    width: 250px;
    background-size: cover;
    margin: 20px;
    float: inline-start;
    position: relative;
    text-align: right;
}

div > p {
    text-align: center;
    margin: auto;
    width: 100%;
    font-family: Amatic Sc, sans-serif;
    letter-spacing: 2px;
    font-size: 26px;

}

/* media-queries for 700px and below */
@media screen and (max-width: 700px) {
    div > img {
        width: 33%;
        background-size: cover;
        margin: 20px;
    }
    
    div > h1 {
        text-align: right;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 50%;
        float: inline-start;
    }
    div > p {
        font-family: Amatic Sc, sans-serif;
        letter-spacing: 2px;
        font-size: 26px;
        float: left;
        margin: 100px 30px 100px 50px;
        width: 50%;
    }
    
}