@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Open+Sans+Condensed:wght@300&display=swap');
* {
    margin: 0;
    border: none;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: Sans Condensed, sans-serif;
    font-weight: 400;
    color: grey;
}
/* headings and logo*/
h1, h2{
    text-transform: uppercase;
    font-family: Amatic Sc, sans-serif;
    font-size: 26px;
    letter-spacing: 3px;
    color: slategray;
}

#logo {
    font-size: 40px;
    text-align: center;
    position: relative;
    margin: 25px 25px 10px 25px;
}
button {
    margin-left: 20px;
    padding: 0px 5px 0px 5px;
    background-color: rgb(241, 240, 240);
    float: left;
}